# Dictionary

### it is used to store the data of the user and fetch the data from the database using keys

In [53]:

#creating a dictionary
ages= {"aman":25, "nama":27.5, "maan":30}
type(ages)

dict

In [13]:
print(type(ages))

<class 'dict'>

In [14]:
#fetch a value
ages["aman"]

25

In [42]:
ages.get("aman")

25

In [15]:
ages["aman"] + ages["nama"] 
# you can perform operations on the values fetched from the dictionary

52.5

In [16]:
#you can use fuctions like len() to get the number of items in the dictionary
len(ages)

3

In [21]:
#Use TAB to navigate through the functions and methods available for the dictionary
#Use SHIFT + TAB to see the documentation for the function or method
ages.keys()

dict_keys(['aman', 'nama', 'maan'])

In [22]:
ages.clear()

In [23]:
ages

{}

In [27]:
ages.values() #I had to execute thE DICTIONARY AGAIN to see the values in the dictionary after clearing it in the previous cell

dict_values([25, 27.5, 30])

In [55]:
ages.setdefault("aman", 30) #This will NOT change the value of "aman" as it already exists in the dictionary
ages.setdefault("new_key", 100) #This will add a new key-value pair to the dictionary

100

In [32]:
ages

{'aman': 25, 'nama': 27.5, 'maan': 30, 'new_key': 100}

In [33]:
ages_copy=ages.copy()
ages_copy

{'aman': 25, 'nama': 27.5, 'maan': 30, 'new_key': 100}

In [34]:
ages_copy=ages
ages_copy

{'aman': 25, 'nama': 27.5, 'maan': 30, 'new_key': 100}

In [41]:
job_titles=["a","b","c",'d','e']
job_titles_dict=dict()
job_titles_dict.fromkeys(job_titles) #This will create a dictionary with the keys from the list and values set to None as no value is provided

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None}

In [40]:
job_titles_dict.fromkeys(job_titles, "default_value") #This will create a dictionary with the keys from the list and values set to "default_value"

{'a': 'default_value',
 'b': 'default_value',
 'c': 'default_value',
 'd': 'default_value',
 'e': 'default_value'}

In [46]:
ages.items()
#gives a view object that displays a list of a dictionary's key-value tuple pairs

dict_items([('aman', 25), ('nama', 27.5), ('maan', 30), ('new_key', 100)])

In [49]:
ages.update({"aman": 35}) #This will update the value of "aman" to 35
ages

{'aman': 35, 'nama': 27.5, 'maan': 30, 'new_key': 100}

In [50]:
ages.setdefault("aman", 30) #This will not change the value of "aman" as it already exists in the dictionary

35

In [56]:
ages.pop('new_key') #This will remove the key-value pair with key 'new_key' from the dictionary
ages

{'aman': 25, 'nama': 27.5, 'maan': 30}