In [1]:
print("Hello World")

Hello World

In [2]:
a=1221
type(a)

int

In [1]:
x=input("x:")

In [2]:
x

'hello'

In [5]:
high_income = True
student = False 
credit = False
if high_income and credit or  student:
    print("Eligible for loan")
else:
    print("Not eligible for loan")

Not eligible for loan

In [6]:
high_income = True
student = False 
credit = False
if high_income and credit or not  student:
    print("Eligible for loan")
else:
    print("Not eligible for loan")

Eligible for loan

# Hllo

### hi

###### hei

In [11]:
high_income = False
credit= "good"
if (high_income and credit) == "good":
    print("Eligible for loan")
else:
    print("Not eligible for loan")
    # Basically if we have brackets in if condition while having a boolean variable in the brackets, boolean will work as its inputted value is designed and the other variable which is str here will take the value on the other side of the == operator

Not eligible for loan

In [23]:
print("Input any value for True and leave blank for False")
print("you are")
high_income =  bool(input("high_income:"))
good_credit= bool(input("good_credit:"))
if high_income and good_credit:
    print("Eligible for loan")
else:
    print("Not eligible for loan")
print(high_income, good_credit)
          #Since BOTH were not True, output was False

Input any value for True and leave blank for False
you are
Not eligible for loan
True False

In [26]:
print("Input any value for True and leave blank for False!")
print("You are")
high_income =  bool(input("high_income:"))
good_credit= bool(input("good_credit:"))
if high_income and good_credit:
    print("Eligible for loan")
else:
    print("Not eligible for loan")
print(high_income, good_credit)

Input any value for True and leave blank for False!
You are
Not eligible for loan
True False

# LOOPS FOR PYTHON
There are two main types of loops in Python: for loops and while loops.
While loops continue to execute as long as a specified condition is true, while for loops iterate over a sequence (like a list, tuple, dictionary, set, or string) or repeat a block of code a specific number of times.
For loops are used when you want to iterate over a sequence (like a list, tuple, dictionary, set, or string) or to repeat a block of code a specific number of times.

###FOR LOOPS

In [37]:
for number in range(3):
  print("attempt")
    #basic for loop to print attempt 3 times. REMEMBER we need to give atleast 2 space gaps before the print statement to make it part of the for loop

attempt
attempt
attempt

In [39]:
for number in range(3):
  print("attempt", number)
  #prints number along with the attempt

attempt 0
attempt 1
attempt 2

In [41]:
for number in range(3):
  print("attempt", number + 1)
  #more user friendly way to print attempt number

attempt 1
attempt 2
attempt 3

In [44]:
for number in range(3):
  print("attempt", number + 1, (number + 1) * ".")
  #creative

attempt 1 .
attempt 2 ..
attempt 3 ...

In [45]:
for number in range(1,4):
  print("attempt", number, (number) * ".")
  #loop starts from 1 and ends at 3, so it will print attempt 1, attempt 2 and attempt 3. it does not include the last digit in the range

attempt 1 .
attempt 2 ..
attempt 3 ...

In [49]:
for number in range(1,10,3):
  print("attempt", number, (number) * ".")
  # starts from one and goes till 10-1=9. prints attempts at a gap of 3, so it will print attempt 1, attempt 4, attempt 7

attempt 1 .
attempt 4 ....
attempt 7 .......

In [50]:
for number in range(1,10,2):
  print("attempt", number, (number) * ".")
  # starts from one and goes till 10-1=9. prints attempts at a gap of 2, so it will print attempt 1, attempt 3, attempt 5, attempt 7, attempt 9

attempt 1 .
attempt 3 ...
attempt 5 .....
attempt 7 .......
attempt 9 .........

In [57]:
successful = True
for number in range(3):
  print("attempt", number)
  if successful: #If within for loop, if successful is True, it will print Successful and break the loop
    print("Successful")
    break #Breaks the loop if successful is True
  print("this sentence is printed incase of failure")

attempt 0
Successful

In [63]:
successful = False
for number in range(1,4):
  print("attempt", number)
  if successful: #If within for loop, if successful is True, it will print Successful and break the loop
    print("Successful")
    break #Breaks the loop if successful is True
else: #this is called a for else loop, it will run if the for loop is not broken
  print("attempted 3 times and failed")

attempt 1
attempt 2
attempt 3
attempted 3 times and failed

In [64]:
successful = True
for number in range(1,4):
  print("attempt", number)
  if successful: #If within for loop, if successful is True, it will print Successful and break the loop
    print("Successful")
    break #Breaks the loop if successful is True
else: #this is called a for else loop, it will run if the for loop is not broken
  print("attempted 3 times and failed")

attempt 1
Successful

In [65]:
for x in range(5): # Nested for loop example
    for y in range(3):
        print(f"x: {x}, y: {y}")

x: 0, y: 0
x: 0, y: 1
x: 0, y: 2
x: 1, y: 0
x: 1, y: 1
x: 1, y: 2
x: 2, y: 0
x: 2, y: 1
x: 2, y: 2
x: 3, y: 0
x: 3, y: 1
x: 3, y: 2
x: 4, y: 0
x: 4, y: 1
x: 4, y: 2

In [68]:
for x in range(5): #nested for loops example used to print coordinates
    for y in range(3):
        print(f"({x},{y})")

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)
(4,0)
(4,1)
(4,2)

In [69]:
print(type(range(5)))

<class 'range'>

### range() is iterable that means it can be used in a for loop to iterate over a sequence of numbers. It generates numbers starting from the first argument (default is 0) up to but not including the second argument, with an optional step value as the third argument.
###### It is commonly used for looping a specific number of times in for loops.

In [71]:
for x in "python": # Iterating over a string. prints each character in the string separately
    print(x)

p
y
t
h
o
n

In [75]:
for x in "python": 
    print(x, end=" ")  # Using end=" " to print characters on the same line with a space in between

p y t h o n

In [76]:
for x in "python": 
    print(x, end="") #I removed the space to print characters without any space in between

python

In [89]:
for x in [1,2,3,4]:
    print(x)

1
2
3
4

In [90]:
for x in [1,2,3,4]:
    print(x, end= " ")  # Using end=" " to print numbers on the same line with a space in between

1 2 3 4

In [93]:
for x in [1,2,3,4]: 
    print(x+1) #You can run operations on this variable x as it is an int type

2
3
4
5

In [94]:
shopping_cart = ["milk", "bread", "eggs"]
# Iterating over a list of items in a shopping cart
for x in shopping_cart:
    print(x)

milk
bread
eggs

###WHILE LOOPS

In [97]:
number=100
while(number>0):
    print(number)
    number -= 1  # Decrementing the number by 1 in each iteration

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [98]:
number=100
while(number>0):
    print(number,end=",")
    number -= 1  # Decrementing the number by 1 in each iteration

100,99,98,97,96,95,94,93,92,91,90,89,88,87,86,85,84,83,82,81,80,79,78,77,76,75,74,73,72,71,70,69,68,67,66,65,64,63,62,61,60,59,58,57,56,55,54,53,52,51,50,49,48,47,46,45,44,43,42,41,40,39,38,37,36,35,34,33,32,31,30,29,28,27,26,25,24,23,22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

In [100]:
number=100
while(number>0):
    print(number)
    number //=2  # Integer division by 2 in each iteration, effectively halving the number

100
50
25
12
6
3
1

In [101]:
#CTRL + D causes the while loop to terminate if the condition is met, otherwise it will run indefinitely.

In [102]:
command = ""
while command.lower() != "quit": #.lower() returns the string in lowercase
    command = input(">").lower()
    print("You entered:", command)
    # This loop will continue until the user types 'quit'

You entered: exit
You entered: quit

In [112]:
command = "" #we need to define command as an empty string before the while loop to make it iterable
while(command != "quit"):
    command=input(">")
    if(command!= "quit"):
        print("You entered",command, "Try Again")
    if(command== "quit"):
        print("BYE",command)

You entered q Try Again
You entered QUIT Try Again
BYE quit

In [126]:
while True:
    command = input(">")
    if command.lower() == "quit":
        print("Correct! Exiting the loop.")
        break  # Exits the loop when 'quit' is entered
    else:
        print("You entered:", command)
        # This loop will continue until the user types 'quit'

You entered:
Correct! Exiting the loop.

In [ ]:
sum=0
for x in range(1,11):
    if(x % 2 == 0):
        sum+=1
        print(x)
print("There are ",sum," even numbers")
# we dont need to initialise s before the for loop, it will automatically be initialized to 0
# However, if you want to use s outside the for loop, you need to initialize it

2
4
6
8
10
There are  5  even numbers

In [130]:
s=0
for x in range(1,11):
    if(x % 2 == 0):
        s+=1
        print(x)
print("There are ",s," even numbers")
print(s) #no error as we initialised s before the for loop

2
4
6
8
10
There are  5  even numbers
5