###### PYTHON CLASS

# Comparison

In [1]:
9>8

True

In [2]:
3%2

1

In [3]:
True==True

True

In [4]:
# to take admission, min marks required is 50. write a code to solve this

In [5]:
# cutoff marks

In [12]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
math_scored=20
python_scored=51
math_scored>=math_cutoff_marks
python_scored>=python_cutoff_marks

# Admission condition
(math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks)

False

In [13]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
math_scored=50
python_scored=51
math_scored>=math_cutoff_marks
python_scored>=python_cutoff_marks

# Admission condition
(math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks)

True

In [21]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
math_scored= int(input("Enter your math marks: "))
python_scored= int(input("Enter your marks in python"))
math_scored>=math_cutoff_marks
python_scored>=python_cutoff_marks

# Admission condition
(math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks)

Enter your math marks:  1212
Enter your marks in python 121212

True

In [19]:
type(math_scored)
# automatically asigns str data type to the asked data as anything can be typecasted as str

str

In [17]:
type(math_cutoff_marks)

int

In [25]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
try:
    math_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
try:    
    python_scored=int(input("ENTER MAKRS"))
except:
    print("VALID NUMBER DALO")
    #Admission condittion
    (math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks)

ENTER MARKS 12367
ENTER MAKRS EW3

VALID NUMBER DALO

In [29]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
try:
    math_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
try:    
    python_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
    
#Admission condittion    
(math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks) 

# answer false hai kyuki try statement ke false hone par new value register nahi hui so purani value use karni pad gyi jo ki 12367 di thi maine. and python ki last value EW3 thi. agar EW3 koi int type ka number hota toh fir true print hojata. just like the next example

ENTER MARKS qwwqw

VALID NUMBER DALO

ENTER MARKS qwqw

VALID NUMBER DALO

False

In [31]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
try:
    math_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
try:    
    python_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
    
#Admission condittion    
(math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks) 
# iss bar kyuki dono int data type ki value hai and last AND condition fulfill horhi hai isiliye so the new INT VALUES get stored which meet the minimum admission criteria hence the answer is truth

ENTER MARKS 500
ENTER MARKS 100

True

# Agar tumne kernel ko restart krdiya jupyter notebook mei then jo bhi purane stored variables honge wo delete hojayenge so after that if you try the same techinique I mentioned above in the preivous cell/block, the output results in an error

In [32]:
# IF a line gives an error, the script stops at that point

In [33]:
print("prady")
print("hello")
int("me")
print("LAL TAMATAR")

prady
hello

ValueError: invalid literal for int() with base 10: 'me'

# in the above mentioned code, since the third line contained an error, ie, assigning a string, the data type of int which is not possible THEREFORE the entire process got terminated and the script stopped at the third line. THE FIRST 2 LINES DID GET EXECUTED BUT SINCE THE ENITRE PROGRAM COULD NOT BE ERROR FREE, THEY DIDNT GET PRINTED

In [39]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
try:
    math_scored=int(input("ENTER MARKS"))    
    python_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
    
#Admission condittion    
if((math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks))== True:
   print("You will get admission")
else:
   print("No admission for you")

ENTER MARKS qw

VALID NUMBER DALO
You will get admission

# In the above example, the situation is almost exactly similar to the if else statement used in java.
#in the example i have taken, I used an str data type input which is invalid and cannot be equal to an int data type therefore the program shifted directly to the else statement, skipping the IF statement

In [6]:
math_cutoff_marks=50
python_cutoff_marks=50

 #student marks
try:
    math_scored=int(input("ENTER MARKS"))    
    python_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
    
#Admission condittion  
if((math_scored>100) and (python_scored>100))== False:
    if((math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks))== True:
        print("You will get admission")
    else:
        print("NO admission for you")
else:
   print("Invalid entry")
 #this type of a loop is called NESTED loop

ENTER MARKS 50
ENTER MARKS 50

You will get admission

In [1]:
test_string="this is a pyhton class"
type(test_string)

str

In [6]:
ax="this is a pyhton class "
ax== test_string

False

In [7]:
print(type(test_string))

<class 'str'>

In [13]:
test_string.find("ht")

12

# Pressing tab right after " test_string. " opens a snippet of methods we can use associated with the string

# using shift + tab after selecing a method helps describe the usage and the type of method

In [16]:
H=9
print(type(H))
# H here is an object of INT class therefore we can use the .+TAB shortcut on this

<class 'int'>

# LISTS

In [19]:
name=['me','you','he','she']
print(type(name))

<class 'list'>

In [25]:
name.index("he")
# YOU can use TAB shortcuts for list as well

2

In [32]:
name[-4]

'me'

In [51]:
n1=["me","you","he","she",["they","them"]]
n1[3]

'she'

In [46]:
n1[4]

['they', 'them']

In [47]:
n1[4][1]

'them'

In [48]:
n1[4][0]

'they'

In [49]:
n1.insert(3,"hehe")

In [50]:
n1

['me', 'you', 'he', 'hehe', 'she', ['they', 'them']]

In [55]:
n1.insert(4,"hehehe")
n1

['me', 'you', 'he', 'she', 'hehehe', 'hehehe', 'hehehe', ['they', 'them']]

In [56]:
# printed 2 times as point 4 in list has 2 values stroed