###### PYTHON CLASS

# Comparison

In [1]:
9>8

True

In [2]:
3%2

1

In [3]:
True==True

True

In [4]:
# to take admission, min marks required is 50. write a code to solve this

In [5]:
# cutoff marks

In [12]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
math_scored=20
python_scored=51
math_scored>=math_cutoff_marks
python_scored>=python_cutoff_marks

# Admission condition
(math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks)

False

In [13]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
math_scored=50
python_scored=51
math_scored>=math_cutoff_marks
python_scored>=python_cutoff_marks

# Admission condition
(math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks)

True

In [21]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
math_scored= int(input("Enter your math marks: "))
python_scored= int(input("Enter your marks in python"))
math_scored>=math_cutoff_marks
python_scored>=python_cutoff_marks

# Admission condition
(math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks)

Enter your math marks:  1212
Enter your marks in python 121212

True

In [19]:
type(math_scored)
# automatically asigns str data type to the asked data as anything can be typecasted as str

str

In [17]:
type(math_cutoff_marks)

int

In [25]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
try:
    math_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
try:    
    python_scored=int(input("ENTER MAKRS"))
except:
    print("VALID NUMBER DALO")
    #Admission condittion
    (math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks)

ENTER MARKS 12367
ENTER MAKRS EW3

VALID NUMBER DALO

In [29]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
try:
    math_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
try:    
    python_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
    
#Admission condittion    
(math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks) 

# answer false hai kyuki try statement ke false hone par new value register nahi hui so purani value use karni pad gyi jo ki 12367 di thi maine. and python ki last value EW3 thi. agar EW3 koi int type ka number hota toh fir true print hojata. just like the next example

ENTER MARKS qwwqw

VALID NUMBER DALO

ENTER MARKS qwqw

VALID NUMBER DALO

False

In [31]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
try:
    math_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
try:    
    python_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
    
#Admission condittion    
(math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks) 
# iss bar kyuki dono int data type ki value hai and last AND condition fulfill horhi hai isiliye so the new INT VALUES get stored which meet the minimum admission criteria hence the answer is truth

ENTER MARKS 500
ENTER MARKS 100

True

# Agar tumne kernel ko restart krdiya jupyter notebook mei then jo bhi purane stored variables honge wo delete hojayenge so after that if you try the same techinique I mentioned above in the preivous cell/block, the output results in an error

In [32]:
# IF a line gives an error, the script stops at that point

In [33]:
print("prady")
print("hello")
int("me")
print("LAL TAMATAR")

prady
hello

ValueError: invalid literal for int() with base 10: 'me'

# in the above mentioned code, since the third line contained an error, ie, assigning a string, the data type of int which is not possible THEREFORE the entire process got terminated and the script stopped at the third line. THE FIRST 2 LINES DID GET EXECUTED BUT SINCE THE ENITRE PROGRAM COULD NOT BE ERROR FREE, THEY DIDNT GET PRINTED

In [39]:
math_cutoff_marks=50
python_cutoff_marks=50

# student marks
try:
    math_scored=int(input("ENTER MARKS"))    
    python_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
    
#Admission condittion    
if((math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks))== True:
   print("You will get admission")
else:
   print("No admission for you")

ENTER MARKS qw

VALID NUMBER DALO
You will get admission

# In the above example, the situation is almost exactly similar to the if else statement used in java.
#in the example i have taken, I used an str data type input which is invalid and cannot be equal to an int data type therefore the program shifted directly to the else statement, skipping the IF statement

In [6]:
math_cutoff_marks=50
python_cutoff_marks=50

 #student marks
try:
    math_scored=int(input("ENTER MARKS"))    
    python_scored=int(input("ENTER MARKS"))
except:
    print("VALID NUMBER DALO")
    
#Admission condittion  
if((math_scored>100) and (python_scored>100))== False:
    if((math_scored>=math_cutoff_marks) and (python_scored>=python_cutoff_marks))== True:
        print("You will get admission")
    else:
        print("NO admission for you")
else:
   print("Invalid entry")
 #this type of a loop is called NESTED loop

ENTER MARKS 50
ENTER MARKS 50

You will get admission

In [1]:
test_string="this is a pyhton class"
type(test_string)

str

In [6]:
ax="this is a pyhton class "
ax== test_string

False

In [7]:
print(type(test_string))

<class 'str'>

In [13]:
test_string.find("ht")

12

# Pressing tab right after " test_string. " opens a snippet of methods we can use associated with the string

# using shift + tab after selecing a method helps describe the usage and the type of method

In [16]:
H=9
print(type(H))
# H here is an object of INT class therefore we can use the .+TAB shortcut on this

<class 'int'>

# LISTS

In [19]:
name=['me','you','he','she']
print(type(name))

<class 'list'>

In [25]:
name.index("he")
# YOU can use TAB shortcuts for list as well

2

In [32]:
name[-4]

'me'

In [142]:
n1=["me","you","he","she",["they","them"]]
n1[3]

'she'

In [143]:
n1[4]

['they', 'them']

In [144]:
n1[4][1]

'them'

In [145]:
n1[4][0]

'they'

In [146]:
n1.insert(3,"hehe")

In [147]:
n1

['me', 'you', 'he', 'hehe', 'she', ['they', 'them']]

In [148]:
n1.insert(4,"hehehe")
n1

['me', 'you', 'he', 'hehe', 'hehehe', 'she', ['they', 'them']]

In [149]:
# printed 2 times as point 4 in list has 2 values stroed

In [150]:
n1.insert(5,"nw")
n1

['me', 'you', 'he', 'hehe', 'hehehe', 'nw', 'she', ['they', 'them']]

In [151]:
n1.pop(5)
n1

['me', 'you', 'he', 'hehe', 'hehehe', 'she', ['they', 'them']]

In [152]:
n1.pop(5) #pop uses index while remove uses the subject at that index. POP also gives an output while REMOVE does not

'she'

In [153]:
n1.remove("he")

In [154]:
n1

['me', 'you', 'hehe', 'hehehe', ['they', 'them']]

# popping the same list multiple times with the same command makes a chain which constantly pops the subject at the mentioned index

In [155]:
n1.reverse() #Used to reverse the order of the elements in the string

In [156]:
n1

[['they', 'them'], 'hehehe', 'hehe', 'you', 'me']

In [157]:
n2=['1','2','4','3','6','5']
n2.sort()
n2

['1', '2', '3', '4', '5', '6']

In [158]:
n1.sort() #here sort does NOT work because sort cannot arrange the sub list within the list provided in n1

TypeError: '<' not supported between instances of 'str' and 'list'

In [159]:
n3=[1,3,2,45,6,7,87,32,3]
n3.sort()
n3

[1, 2, 3, 3, 6, 7, 32, 45, 87]

In [160]:
n3.sort(reverse=True) # Used to arrange the list in descending order
n3,n2 #can print like this as well btw

([87, 45, 32, 7, 6, 3, 3, 2, 1], ['1', '2', '3', '4', '5', '6'])

In [161]:
n3 + n2 #we can add lists

[87, 45, 32, 7, 6, 3, 3, 2, 1, '1', '2', '3', '4', '5', '6']

In [162]:
n3/n2 #cannot perform any action than addition

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [163]:
n1,n2,n3

([['they', 'them'], 'hehehe', 'hehe', 'you', 'me'],
 ['1', '2', '3', '4', '5', '6'],
 [87, 45, 32, 7, 6, 3, 3, 2, 1])

In [164]:
n1+n2+n3

[['they', 'them'],
 'hehehe',
 'hehe',
 'you',
 'me',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 87,
 45,
 32,
 7,
 6,
 3,
 3,
 2,
 1]

In [167]:
# HOW TO MOVE A NAME FOR ONE POSITION TO ANOTHER IN A LIST 
# for example, if we need to move 'hehe' from n4 them we use POP and INSERT
n4=['a','b','c','d','e']
n4.pop(3)
n4

['a', 'b', 'c', 'e']

In [168]:
n4.insert(4,'d')
n4 # WE HAVE ACHIEVEDD OUR GOAL OF MOVING A SUBJECT IN LIST FROM ONE PLACE TO ANOTHER

['a', 'b', 'c', 'e', 'd']

In [176]:
n5=['a','b',['c1','c2','c3'],'d','e']
n5.pop(2)

['c1', 'c2', 'c3']

In [177]:
n5.insert(4,['c1','c2','c3'])
n5

['a', 'b', 'd', 'e', ['c1', 'c2', 'c3']]

In [184]:
n6=['aa','bb','cc','dd','ee'] #  A LITTLE PROGRAM I MADE
xx=n6.pop(2)
n6.insert(4,xx)
n6

['aa', 'bb', 'dd', 'ee', 'cc']

In [192]:
n6.clear()
n6 #LISTS CAN BE EMPTIED

[]

# TUPLES

In [4]:
message = """ TUPLES ARE VERY SIMILAR TO LISTS BUT THEY HAVE A FEW KEY DIFFERENCE"""
message

' TUPLES ARE VERY SIMILAR TO LISTS BUT THEY HAVE A FEW KEY DIFFERENCE'

In [5]:
t1={'q','w','e','r','t'}
type(t1)

set

###### using square braces[] = list
###### using curly braces{} = set
###### using parenthesis() = tuple

In [6]:
t2=('q','w','e','r','t')
type(t2)

tuple

In [7]:
t2.clear() #TUPLES CANNOT BE EMPTIED

AttributeError: 'tuple' object has no attribute 'clear'

In [8]:
t2.count('q')

1

In [9]:
print(1)
print(2)

1
2

In [10]:
t3=('aa','bb','cc','dd','ee')
t3.insert(4,8)
t3

AttributeError: 'tuple' object has no attribute 'insert'

In [13]:
list(t3) # CONVERTS TO LIST

['aa', 'bb', 'cc', 'dd', 'ee']

In [15]:
len(t3) # measures length

5

### values in tuples are set in stone and therefore cannot be changed and can only be counted or found(index)

# Concept of slicing

In [17]:
marks={1,2,3,4,5,6}
marks=list(marks)
marks

[1, 2, 3, 4, 5, 6]

In [18]:
empty_list =[]
len(empty_list)

0

### empty_list.   
###### BY USING . + TAB we can again use all in built functions on our empty list but because our list is empty, there are certain limitations to the number of functions we can ACTUALLY use

In [20]:
empty = list()
empty #another way of creating an empty list

[]

# CHAPTER 1 FINISHES HERE